/* IMPOSTAZIONI RESET */
body{
	font-family: poppins;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

li {
	padding-top: 10px;
}

hr {
	color: rgb(56, 126, 255);
}

.blue {
	color: rgb(56, 126, 255);
}

h1 {
	font-size: 35px;
}


/* LAYOUT */

.navbar .row>* {
	padding: 8px;
}

.feature {
	padding: 50px 0;
}

.feature .row>* {
	min-height: 300px;
}

.cta-download {
	padding: 50px 0;
}

.cta-download {
	color: black;
	min-height: 600px;
	text-align: center;

}

.container {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.container-sm {
	max-width: 720px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row-reverse {
	flex-direction: row-reverse;
}

.col-100 {
	width: 90%;
	text-align: center;
	font-size: 20px;
}

.col-80 {
	width: 80%;
}

.col-40 {
	width: 40%;
}

.col-60 {
	width: 60%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-16 {
	width: calc(100% / 6);
}


/* UTILITIES */
.order-first {
	order: -999;
}

.bg-gray {
	background-color: #d8d8d8bd;
}

.justify-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}


/* HEADER */
.main-header {
	padding: 16px 0;
	background-color: rgb(55, 95, 226);
	font-size: 12px;
}

.navbar .menu {
	display: flex;
	gap: 16px;
	align-items: center;
	color: white;
}

.login-cta {
	padding: 8px 12px;
	line-height: 30px;
	font-size: 12px;
	border-radius: 12px;
	text-align: center;
	background-color: white;
	color: rgb(80, 80, 255);
}

.navbar {
	padding-top: 20px;
}


/* HERO */

.hero .row>* {
	min-height: 120px;
	align-items: center;
}

.hero .col-100 {
	max-width: 720px;
	margin: 0 auto;
}


.hero .row {
	justify-content: center;
}

.hero {
	background-image: url(./img/jumbo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	padding-top: 0px;
	padding-bottom: 30px;
	color: white;

}

.download {
	padding: 8px 12px;
	line-height: 30px;
	font-size: 20px;
	border-radius: 15px;
	text-align: center;
	background-color: white;
	color: rgb(14, 14, 46);
}

.button-footer {
	padding: 8px 12px;
	line-height: 30px;
	font-size: 20px;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(56, 126, 255);
	color: white;
}

.open {
	padding: 8px 12px;
	line-height: 30px;
	font-size: 20px;
	border-radius: 15px;
	text-align: center;
	background-color: rgb(63, 63, 63);
	color: white;
}

.buttons {
	padding-top: 30px;
}

.stars {
	background-image: url(./img/stars.svg);
	background-position: center;
	background-repeat: no-repeat;
	padding: 32px 12px;
}

/* Footer */
.page-footer {
	background-color: #333;
	color: white;
	padding: 30px 0;
	font-size: 12px;
}

.page-footer .row>* {
	min-height: 300px;
}
